<%- contentFor('body')%>
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
<h1>We are sorry for this message</h1>
<h2><%= message%></h2>
<h3><%= error%></h3>
    